In [1]:
import cudf
import pandas as pd
df = cudf.read_csv('/media/sparsh/CaptainSlow/Programming Stuff/Programming Stuff/UCS411 - Artificial Intelligence/AI Project/Water Pump/rul_hrs.csv')
df

,Unnamed: 0,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,...,sensor_42,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_51,rul
0,0,2018-04-01 00:00:00,2.465394,47.092010,53.21180,46.310760,634.375000,76.45975,13.41146,16.13136,...,31.770832,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,201.3889,285.916667
1,1,2018-04-01 00:01:00,2.465394,47.092010,53.21180,46.310760,634.375000,76.45975,13.41146,16.13136,...,31.770832,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,201.3889,285.900000
2,2,2018-04-01 00:02:00,2.444734,47.352430,53.21180,46.397570,638.888900,73.54598,13.32465,16.03733,...,31.770830,41.66666,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,203.7037,285.883333
3,3,2018-04-01 00:03:00,2.460474,47.092010,53.16840,46.397568,628.125000,76.98898,13.31742,16.24711,...,31.510420,40.88541,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,203.1250,285.866667
4,4,2018-04-01 00:04:00,2.445718,47.135410,53.21180,46.397568,636.458300,76.58897,13.35359,16.21094,...,31.510420,41.40625,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,201.3889,285.850000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166436,166436,2018-07-25 13:56:00,2.313889,45.833330,53.03819,43.923610,71.464119,73.00980,14.36632,16.21094,...,36.458332,49.47916,52.083330,51.79398,60.47454,45.138890,252.3148,69.15509,198.2060,0.066667
166437,166437,2018-07-25 13:57:00,2.315856,45.833332,53.03819,43.923611,3.336227,72.47576,14.33015,16.16030,...,36.197910,49.47916,52.083330,51.21528,60.47454,44.849540,253.1829,71.46991,202.8356,0.050000
166438,166438,2018-07-25 13:58:00,2.322743,45.833330,52.99479,43.923610,3.336227,70.48889,14.46036,16.16030,...,36.458330,49.73958,52.083330,52.08333,61.34259,44.849540,249.1319,72.33796,206.8866,0.033333
166439,166439,2018-07-25 13:59:00,2.315856,45.789930,53.03819,43.880210,3.336227,68.74365,14.43866,16.07350,...,36.458332,50.52083,52.662040,53.24074,63.36805,44.849540,244.5023,72.62731,209.7801,0.016667
166440,166440,2018-07-25 14:00:00,2.318808,45.833332,52.99479,43.880210,420.503448,72.52040,14.18547,16.24711,...,36.458330,51.30208,52.102000,52.66204,67.12963,43.981480,230.3241,69.73380,205.7292,0.000000

In [2]:
df = df.drop('Unnamed: 0', axis = 1)

In [3]:
df.head()

,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,sensor_08,...,sensor_42,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_51,rul
0,2018-04-01 00:00:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,15.56713,...,31.770832,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,201.3889,285.916667
1,2018-04-01 00:01:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,15.56713,...,31.770832,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,201.3889,285.900000
2,2018-04-01 00:02:00,2.444734,47.35243,53.2118,46.397570,638.8889,73.54598,13.32465,16.03733,15.61777,...,31.770830,41.66666,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,203.7037,285.883333
3,2018-04-01 00:03:00,2.460474,47.09201,53.1684,46.397568,628.1250,76.98898,13.31742,16.24711,15.69734,...,31.510420,40.88541,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,203.1250,285.866667
4,2018-04-01 00:04:00,2.445718,47.13541,53.2118,46.397568,636.4583,76.58897,13.35359,16.21094,15.69734,...,31.510420,41.40625,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,201.3889,285.850000

In [4]:
if df.isnull().sum().any() > 0:
    print('Missing values are present')
else:
    print('No missing values')

No missing values

In [5]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [6]:
print(type(X), type(y))

<class 'cudf.core.dataframe.DataFrame'> <class 'cudf.core.series.Series'>

In [7]:
if y.isnull().sum().any() > 0:
    print('Missing values are present')
else:
    print('No missing values')

No missing values

In [8]:
X['timestamp'] = cudf.to_datetime(X['timestamp'])
X['year'] = X['timestamp'].dt.year
X['month'] = X['timestamp'].dt.month
X['day'] = X['timestamp'].dt.day
X['hour'] = X['timestamp'].dt.hour
X['minute'] = X['timestamp'].dt.minute
X['second'] = X['timestamp'].dt.second
X = X.drop('timestamp', axis=1)

In [9]:
X.drop(columns = ['year','second'], axis=1, inplace=True)

In [10]:
X = (X - X.mean())/X.std()
# y = (y - y.min())/(y.max() - y.min())

In [11]:
print(type(X), type(y))

<class 'cudf.core.dataframe.DataFrame'> <class 'cudf.core.series.Series'>

In [12]:
import time
from cuml.decomposition import PCA
from cuml.model_selection import train_test_split
from cuml.metrics import r2_score, mean_squared_error, mean_absolute_error

In [13]:
pca = PCA(n_components = 50)
X_pca = pca.fit_transform(X)

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X_pca, y, test_size = 0.2, random_state = 42)

In [15]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((133153, 50), (33288, 50), (133153,), (33288,))

In [16]:
from cuml.ensemble import RandomForestRegressor
model = RandomForestRegressor()

In [17]:
start = time.time()
model.fit(X_train, y_train)
end = time.time()
print(f"Training time: {end - start} seconds")

Training time: 1.5343761444091797 seconds

In [18]:
import cupy as cp

r2 = r2_score(y_test, model.predict(X_test))
mae = mean_absolute_error(y_test, model.predict(X_test))
mse = mean_squared_error(y_test, model.predict(X_test))
rmse = cp.sqrt(mse)

In [21]:
print(f"Accuracy: {r2*100:.2f}%")

Accuracy: 97.21%